.discount-calculator {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(28, 40, 84, 1);
  box-sizing: border-box;
}

.pricing-container {
  margin-bottom: 30px;
  width: 34%;
}

.input-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  height: 40px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

td {
  color: white;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title {
  color: white;
  font-family: roboto;
  margin-bottom: 50px;
}

.input-label {
  display: flex;
  align-items: center;
  width: 50%;
  color: white;
}

.info-icon {
  color: white;
}

.dropdown {
  width: 50%;
  height: 60%;
  border: none;
  outline: none;
}

.button-container {
  display: flex;
  width:80%;
  justify-content: flex-end;
}

.add-row-button {
  color: rgba(28, 40, 84, 1);
  display: flex;
  align-items: center;
  padding: 6px 14px;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  font-family: roboto;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.add-icon {
  margin-right: 5px;
}

.red-price {
  color: red;
  font-weight: 500;
}

.green-price {
  color: green;
  font-weight: 500;
}

.white-price {
  color: white;
}

.last-input,
.discount-input {
  outline: none;
}

.close-icon {
  color: white;
}

.error {
  border: 2px solid red;
}

.error-message {
  color: red;
}

.success {
  color: greenyellow;
  font-size: "20px";
  font-family: "roboto";
  font-weight: 600;
  margin: 0;
  margin-right: 30px;
  margin-bottom: 15px;
}

.p {
  color: white;
}
